language: c++
sudo: required
dist: trusty

before_install:
  - sudo add-apt-repository --yes ppa:beineri/opt-qt551-trusty
  - sudo apt-get update -qq

install:
  - sudo apt-get -y install qt55base

script:
  - source /opt/qt55/bin/qt55-env.sh
  - mkdir build
  - cd build
  - cmake ..
  - make
